{% extends "main/layout.html" %}

{% load form_tags %}

{% block css %}
{{ block.super }}
<style>
	.form-password .form-control {
		position: relative;
		box-sizing: border-box;
		height: auto;
		padding: 10px;
		font-size: 16px;
	}
	.form-password .form-control:focus {
		z-index: 2;
	}
</style>
{% endblock %}}

{% block content %}
<main class="container mt-5" style="margin-bottom:75px;">
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
			<h1 class="h3 mb-3 fw-normal">Zapomenuté heslo</h1>
			{% if done %}
				<div class="alert alert-success" role="alert">
					Odkaz pro změnu hesla byl zaslán na váš email.
				</div>
			{% else %}
				<form class="form-password" method="POST">
					{% csrf_token %}
					{{ form.username|add_classes:'form-control' }}
					{% for field in form %}
					{% for error in field.errors %}
					<div class="text-danger">{{ error }}</div>
					{% endfor %}
					{% endfor %}
					<button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Restartovat heslo</button>
				</form>
			{% endif %}
		</div>
	</div>
	{% include "main/include_footer_full.html" %}
</main>
{% endblock %}
